In [2]:
from Drain import LogParser
import os
from Utilities import LogDataset, parse_df
import pandas as pd

In [3]:
# parser = LogParser(
#     log_format="<Date> <Time> <Pid> <Level> <Component>: <Content>",
#     indir=r'Dataset/HDFS-v1/',
#     outdir=r'Dataset/out',
#     rex=[
#         r"blk_-?\d+",  # block id
#         r"(\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})",  # IP
#         r"(?<=:)\d+",  # Port
#         r'(?<=[^A-Za-z0-9])(\-?\+?\d+)(?=[^A-Za-z0-9])|[0-9]+$',  # Numbers
#     ],
#     depth=4,
#     st=0.5,
# )
# parser.parse(r'HDFS_2k.log')
# parser.parse(r'HDFS.log')

In [6]:
out_dir = 'Dataset/out/parsed_HDFS_.log_structured.csv'
final_col = LogDataset().final_col
if not os.path.exists(out_dir):
    pd.DataFrame(columns=final_col).to_csv(out_dir, index=False)

df_label = pd.read_csv('Dataset/HDFS-v1/preprocessed/anomaly_label.csv')
df_label = {df_label['BlockId'][i]: df_label['Label'][i] for i in range(len(df_label))}

columns = pd.read_csv('Dataset/out/HDFS.log_structured.csv', nrows=3).columns.values

nrows, limit, start = 10000, 11200000, 2180000
for i in range(start, limit, nrows):
    print(i, ",", f'{i/limit*100:.2f}%')
    df = pd.read_csv('Dataset/out/HDFS.log_structured.csv',
                     skiprows=1 + i, nrows=nrows, names=columns,
                     usecols=['LineId', 'Date', 'Time', 'Pid', 'Level', 'EventId', 'ParameterList'])
    template_id = pd.read_csv('Dataset/out/HDFS.log_templates.csv')
    df = parse_df(df, template_id, df_label)
    # df[final_col].to_csv(out_dir, mode='a', header=False, index=False)

In [10]:
df[[
    'labels',
    'blk_z',
    'completeTime',
    'Event_id',
    'Pid',
    'Parameter_0_ip',
    # 'Parameter_0_packet_size',
    # 'Parameter_0_port',
    'Parameter_1_ip',
    'Parameter_1_packet_size',
    'Parameter_1_port',
    'Parameter_2_ip',
    # 'Parameter_2_packet_size',
    'Parameter_2_port',
]]

,labels,blk_z,completeTime,Event_id,Pid,Parameter_0_ip,Parameter_1_ip,Parameter_1_packet_size,Parameter_1_port,Parameter_2_ip,Parameter_2_port
0,Normal,blk_-1608999687919862906,0.300000,1,143,NaN,10.250.19.102,NaN,NaN,NaN,54106
1,Normal,blk_-1608999687919862906,0.300000,2,35,NaN,NaN,NaN,NaN,NaN,NaN
2,Normal,blk_-1608999687919862906,0.316667,1,143,NaN,10.250.10.6,NaN,NaN,NaN,40524
3,Normal,blk_-1608999687919862906,0.316667,1,145,NaN,10.250.14.224,NaN,NaN,NaN,42420
4,Normal,blk_-1608999687919862906,0.316667,3,145,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
199995,Normal,blk_4422918749702910462,26.468667,3,1099,NaN,NaN,NaN,NaN,NaN,NaN
199996,Normal,blk_-8017684398376252812,26.468667,3,1099,NaN,NaN,NaN,NaN,NaN,NaN
199997,Normal,blk_1214064986892046448,26.468667,3,1099,NaN,NaN,NaN,NaN,NaN,NaN
199998,Normal,blk_1214064986892046448,26.468667,4,1099,NaN,NaN,67108864,NaN,10.250.7.96,NaN
199999,Normal,blk_4422918749702910462,26.468667,4,1099,NaN,NaN,67108864,NaN,10.251.122.38,NaN